# CSULA Data Science (CS4661)
### Yunjian Lu
### Final Project
### House prices prediction

In [178]:
# import all methods 
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import  statistics
from sklearn import preprocessing

## Data Gethering:

In [179]:
# read the dataset as a CSV file directly from the book website
houses_df = pd.read_csv("final/train.csv", index_col=0)

# show the first 5 rows
houses_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [180]:
missing = houses_df.isnull().sum()
print(missing)

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 80, dtype: int64

## Data Cleaning and Numerization

In [181]:
"""
Filling all  missing numberical values with the columns's median or most common sting
"""
miss_count = houses_df.isnull().sum()
miss_column = miss_count[miss_count > 0]
for column in list(miss_column.index):
    # fill with most common sting
    if houses_df[column].dtype == 'object':
        houses_df[column].fillna(houses_df[column].value_counts().index[0], inplace=True)
    # fill with median value of that column
    elif houses_df[column].dtype == 'int64' or 'float64' or 'int16' or 'float16':
        houses_df[column].fillna(houses_df[column].median(), inplace=True)
# print the filled values
houses_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,Corner,...,0,Gd,MnPrv,Shed,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,Grvl,IR1,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,12,2008,WD,Normal,250000

In [182]:
"""
Conveting all string value(Non-numeric) into numerical values
"""
# get all the non-numeric data
non_numeric_cols = list(houses_df.select_dtypes(exclude=[np.number]).columns)
# get all the non-numeric indexes
non_numeric_cols_indexes  = []
for col in non_numeric_cols:
    non_numeric_cols_indexes.append(houses_df.columns.get_loc(col))

# Conveting the Non-numeric values to numerical values   
label_enc = LabelEncoder()
for i in non_numeric_cols_indexes:
    houses_df.iloc[:,i] = label_enc.fit_transform(houses_df.iloc[:,i])

In [183]:
houses_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,3,65.0,8450,1,0,3,3,0,4,...,0,2,2,2,0,2,2008,8,4,208500
2,20,3,80.0,9600,1,0,3,3,0,2,...,0,2,2,2,0,5,2007,8,4,181500
3,60,3,68.0,11250,1,0,0,3,0,4,...,0,2,2,2,0,9,2008,8,4,223500
4,70,3,60.0,9550,1,0,0,3,0,0,...,0,2,2,2,0,2,2006,8,0,140000
5,60,3,84.0,14260,1,0,0,3,0,2,...,0,2,2,2,0,12,2008,8,4,250000

## Features Selection and Model Training:

In [184]:
# Set all fetures to X
features_cols = list(houses_df.loc[:, houses_df.columns != "SalePrice"])
X = houses_df[features_cols]

# check the size:
print(X.shape)

# show the first 5 rows
X.head()

(1460, 79)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1,60,3,65.0,8450,1,0,3,3,0,4,...,0,0,2,2,2,0,2,2008,8,4
2,20,3,80.0,9600,1,0,3,3,0,2,...,0,0,2,2,2,0,5,2007,8,4
3,60,3,68.0,11250,1,0,0,3,0,4,...,0,0,2,2,2,0,9,2008,8,4
4,70,3,60.0,9550,1,0,0,3,0,0,...,0,0,2,2,2,0,2,2006,8,0
5,60,3,84.0,14260,1,0,0,3,0,2,...,0,0,2,2,2,0,12,2008,8,4

In [186]:
# Set SalePrice as the y axis
y = houses_df['SalePrice']

# checking the size of target vector:
y.size
print(y)

Id
1       208500
2       181500
3       223500
4       140000
5       250000
         ...
1456    175000
1457    210000
1458    266500
1459    142125
1460    147500
Name: SalePrice, Length: 1460, dtype: int64

In [187]:
# Splitting the dataset into testing and training:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, 
                                                    random_state=2)

# Instantiate LinearRegression model
my_linreg = LinearRegression()

#Ttrain the model to the with data:
my_linreg.fit(X_train, y_train)

LinearRegression()

## Prediction :

In [188]:
# make predictions on the testing set
y_prediction = my_linreg.predict(X_test)

print(y_prediction)

[259910.82707932 186913.52990752 281828.07238481 209518.37407181
 221227.69427    187480.25571491 218108.15198854 208780.35893849
 128564.56177172 371544.58863077 252787.4307921  221096.64587813
 126714.24639695 148354.38711263  88428.34382751 221250.75144362
 259158.01663607 284433.37855158 228820.48052669 310181.08950847
 360710.6979296  169059.99249644 182537.63387926 220862.33622512
 405233.84860605 246864.79024047 146047.45598027 268604.78318593
 218742.74669926 429630.40528137 319853.56718584 179928.12552101
 259828.41978066 116009.35700792 181608.18202091 219162.17461027
 131396.7108442  293628.62485057 338121.39305183 372187.58826962
 165714.09770908 229868.96385543 152689.70990923  88545.22899279
  89130.83572888 257812.57332742  61148.88737126 138369.68449023
 102505.59957482 152348.43221997 157809.05836687 104212.56704942
 230233.32584864 164160.74833792 139511.65126522 285642.50044963
 130276.65867652 251074.05006763 383669.41618536 116315.77363015
 163771.95399718 133067.31403953 304382.97627414 137404.22916486
 346376.01367411 142352.31918866 228393.14615759 107346.33731329
 160810.98821754 113569.32456753 210438.04881383 104056.82472445
  84722.38941558 126111.95628972 156855.44658194 193267.1007256
 174982.53053939 253109.53921217 155369.10085033 168596.16454623
 290941.20260118 242206.45727373 184255.49388909 238834.04835829
 171464.77065641 221820.47000311 198146.87571157 250338.46821801
 215901.91551528 154058.26028916 179476.05287544 236518.8452734
 194588.34575329 182620.60958428 172701.58934806 194820.75775215
 130930.86093398 172055.26669495 145135.11627919 182627.1658008
 130935.35529406  87148.6968255  172395.30013952 130424.16988418
 164521.97636126 139491.24696579 128744.87264569 140205.94659804
 134484.40329834 181960.77661541 206940.06146449 176322.94652301
 168899.28238058 180393.23761109 355539.24204957 364020.6875955
  92794.31104833 267584.38151664 125707.80258954 144590.55440912
 159887.65104012 252041.52188773 301382.33383461 133425.45877157
 371459.90960192 213303.37651382 303513.53072904 185613.94651621
 277093.80395876 268383.74360298 377606.34109167 105064.61976771
 249414.26216307 132281.90144294 118097.21162984  54909.3123192
 157832.68645178 132819.99595552 212583.05981598 245211.71723497
 165932.77934791 312923.40602088  95869.13837157 101976.83493879
  99471.74734971  95228.0221437  180139.87885318  96260.03680193
 207890.20035027 198943.41285371 144222.54123263 311212.85435388
 225924.88195258 181502.04384127 433984.36167293 102860.30435262
  99114.6668621  144795.14486881 342267.01218963 148788.63749538
 214887.48379636 203348.3888127   90910.01667616 101496.68421884
  42566.66521655 255735.05235831 152266.64455777 204315.36723081
 177052.86767761 112861.3343121  122215.95452399 155430.84524477
 160504.20638577 188400.70583828 174720.16239893 211581.91299839
 166182.58657871 185047.5797561  137573.52639483 150302.98613699
 137313.03552552 176446.8169581  126861.54546038 132913.39813025
 228013.92540339 192216.38479076 149394.16913756 176328.62969849
  61829.12751619 176006.20562218 238290.53356061 111243.69155223
 150322.56434384 159040.63477318 153670.21112125 216318.63128199
 109985.87928293 204534.26589081 143923.91849097 170288.55575445
 226810.78900403 118815.53376748 528038.72935915 226338.43820187
 149163.40036718 128504.12336715 155046.46825687 183515.2390704
 132114.94186234 280029.85647436 178362.97136327 137863.3688447
  75392.54671539 181864.41302212 212462.04799693 113631.8487213
 301213.21664342  64052.246307    46638.16240804 115932.46580153
 151977.77174728 303439.18862701 137345.5410584  175481.85690461
 262490.20503905 131976.83964403 161957.10634495  72546.51083658
 144164.6012264  135446.24300474 127235.53152636 226043.99894025
 121824.19672302 154334.44756124 183223.11151108 426421.88468628
 332445.58689675 156972.7276145  203237.32879118 138980.35380513
 111071.17099976 301230.4421095  300667.71262201 235622.01102136
  86948.19853973 124829.50258929 125116.46990502 221164.31009491
 181104.81244477 124813.62006365  94442.29404635 156137.43277356
 196470.11485373 266622.17316594 121473.74687769 153685.9501716
 143776.39797762 154137.78910502 153685.7228405  254308.03196608
 171043.43258642 161900.83413134 114058.22628193 198446.25363908
 133230.00545835 162853.38793943 199234.61390034 143719.87514118
 253260.96756175 129696.96881667 151569.01000505 251973.90595691
 123883.3961495  139701.04564394  97949.84741809 281014.92074314
 229107.44336719 236523.27150148 112077.00477157 321907.78670829
 225517.00629016 284161.36041599 202397.93217434  67944.59920602
 133025.96979875 110156.0071101  151970.07905163 124424.76008157
 196211.92706664 163087.20181339 118012.76834639 293871.57720699
 177601.92573511 144780.37903984 116003.78308037 286789.85363149
 123173.78683362 163288.12073949 195503.29313194 898311.70968992
 136554.51930093 124928.91630719 163636.89424424 153314.16482887
 201988.03269547  75314.18182761 145926.69875163 167076.78280529
 245506.82057018 184011.25178473 260768.61895648 121412.90014815
 102589.82411623 121279.27548102  99956.01411487 188931.50091596
 246677.31246269 129689.65936288 258415.20826227 243617.02234389
 190538.31628022  86463.20499152 182002.88767935 546853.27925219
 458507.79447103 263236.62788124 235227.21209836 120230.24962267
 114787.75017658 232933.55364184 292907.29968588 304901.7303695
 220564.70130113 233965.96841616 148627.92434418 253719.76765824
 120326.60454185 231097.52608742 139706.9014593  318900.5474438
 111113.76355887 134083.87471469 153363.54082199 246946.65568454
 106977.86205028 123136.37069775 109037.17932368 167377.55756789
 151171.5826422  217484.87074874 118122.72922271 172468.45536478
 174937.11189788 115380.31774004 107033.71939399 214084.39756978
 382194.75282529 126333.93449471 287516.48386382 124374.0712559
 640699.33577523 128786.88320492 316846.78117385 167756.61107659
 228274.38119284]

## Evaluation by MSE and 10 fold Cross-Validation:

In [189]:
# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

57283.51819481026

In [190]:
# calculating rmse with 10 fold cross-validation
mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')

mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

# calculate the average RMSE as final result of cross validation:
print("Mean RMSE:", rmse_list.mean())

[22359.60130692 34826.39349809 25990.52813128 42101.93166586
 36055.30364137 29001.10602645 28407.27261137 26868.29535287
 66593.11734911 34195.09238845]
Mean RMSE: 34639.864197177914

In [191]:
# normalize (scale) the features.
scaled_X = pd.DataFrame()
for column in X.columns:
    normalized_arr = preprocessing.normalize([X[column]])
    scaled_X[column] = normalized_arr[0]

scaled_X.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0.022151,0.025376,0.023223,0.015255,0.026225,0.0,0.032721,0.027394,0.0,0.030544,...,0.0,0.0,0.026203,0.026975,0.026191,0.0,0.007613,0.026174,0.027292,0.026652
1,0.007384,0.025376,0.028582,0.017331,0.026225,0.0,0.032721,0.027394,0.0,0.015272,...,0.0,0.0,0.026203,0.026975,0.026191,0.0,0.019032,0.026161,0.027292,0.026652
2,0.022151,0.025376,0.024295,0.020310,0.026225,0.0,0.000000,0.027394,0.0,0.030544,...,0.0,0.0,0.026203,0.026975,0.026191,0.0,0.034258,0.026174,0.027292,0.026652
3,0.025843,0.025376,0.021437,0.017241,0.026225,0.0,0.000000,0.027394,0.0,0.000000,...,0.0,0.0,0.026203,0.026975,0.026191,0.0,0.007613,0.026148,0.027292,0.000000
4,0.022151,0.025376,0.030011,0.025743,0.026225,0.0,0.000000,0.027394,0.0,0.015272,...,0.0,0.0,0.026203,0.026975,0.026191,0.0,0.045678,0.026174,0.027292,0.026652

In [192]:
# retrain the model with scaled data :
# Set all fetures to X
features_cols = list(houses_df.loc[:, houses_df.columns != "SalePrice"])
all_fea_rmse = []
for ele in features_cols:
    X = (houses_df[[ele]])

# X = houses_df[features_cols]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, 
                                                        random_state=2)

    my_linreg = LinearRegression()
    my_linreg.fit(X_train, y_train)
    y_prediction = my_linreg.predict(X_test)
    mse = metrics.mean_squared_error(y_test, y_prediction)
    rmse = np.sqrt(mse)
    all_fea_rmse.append(rmse)

In [193]:
print(statistics.mean(all_fea_rmse),)

80331.52690924447

In [194]:
"""Thank You"""

'Thank You'